/target/
nbactions.xml
/nbproject/
src/test/assets/basic-text-output.txt
src/test/assets/outputBmpTest.bmp
src/test/assets/outputBmpTest2.bmp
ADBOARDS.SPR
ADBOARDS.SPR.ori
Adboards.bmp
PITCH_LB.SPR
PITCH_LM.SPR
PITCH_LN.SPR
PITCH_LS.SPR
PITCH_LW.SPR
PITCH_RB.SPR
PITCH_RM.SPR
PITCH_RN.SPR
PITCH_RS.SPR
PITCH_RW.SPR
Pitch_lm.bmp
Pitch_ln.bmp
Pitch_ls.bmp
Pitch_lw.bmp
Pitch_rm.bmp
Pitch_rn.bmp
Pitch_rs.bmp
Pitch_rw.bmp
test2.bmp
usm-gimp-palette.gpl
log.txt
whatever
Pitch_rn.bmp.ori
Pitch_ln.bmp.ori
src/test/assets/logger/log-test.txt
